@use '../abstracts' as *;

.header {
    padding: 4rem 3rem;
    background: $light-green-color;
    

    &__content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    
}